
.MetronomeContainer {
	--background-1: #171A1C;
	--background-2: #22272A;
	--background-3: #2E3438;
	--background-4: #454E54;
	--background-5: #546168;
	--background-6: #606d75;
	--background-7: #6c7b85;
	--background-8: #788994;
	--background-9: #81929e;
	--background-10: #899aa7;
	--background-11: #93a6b4;

	--blue: #66CDFE;
	--yellow: #FFD966;

	position: relative;
	display: flex;
	flex-direction: column;

	color: white;
	background-color: var(--background-1);
	user-select: none;
	overflow: hidden;
}

.MetronomeContainer > .timeline {
	position: relative;
	display: flex;
	flex-direction: row;
}

.MetronomeContainer > .timeline > .timer {
	padding: 16px 24px;
	background-color: var(--background-3);
}

.MetronomeContainer > .timeline > .timer > .time {
	width: 224px;
	font-family: "Torus Pro";
	font-size: 46px;
	font-weight: 300;
	line-height: 1;
}

.MetronomeContainer > .timeline > .timer > .time > span {
	display: inline-block;
	width: 28px;
	text-align: center;
}

.MetronomeContainer > .timeline > .timer > .time > sep {
	font-weight: 400;
}

.MetronomeContainer > .timeline > .timer > .ticks {
	font-size: 22px;
}

.MetronomeContainer > .timeline > .timer > .ticks > span {
	display: inline-block;
	min-width: 80px;
}

.MetronomeContainer > .timeline > .timer > .ticks > .total {
	margin-left: 8px;
}

.MetronomeContainer > .timeline > .timer > .bpm {
	margin-bottom: 12px;
	font-weight: 700;
	color: var(--yellow);
}

.MetronomeContainer > .timeline > .timer > .dots {
	--size: 28px;
}

.MetronomeContainer > .timeline > .timer > .dots > span {
	display: inline-block;
	width: var(--size);
	height: var(--size);
	margin-right: 16px;
	background-color: var(--background-4);
	border-radius: 12px;
}

.MetronomeContainer > .timeline > .timer > .dots > span[key="0"] {
	padding-left: var(--size);
}

.MetronomeContainer > .timeline > .timer > .dots[data-tick="0"] > span[key="0"] {
	background-color: var(--blue);
}

.MetronomeContainer > .timeline > .timer > .dots[data-tick="1"] > span[key="1"],
.MetronomeContainer > .timeline > .timer > .dots[data-tick="2"] > span[key="2"],
.MetronomeContainer > .timeline > .timer > .dots[data-tick="3"] > span[key="3"] {
	background-color: var(--yellow);
}

.MetronomeContainer > .timeline > .graph {
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;

	height: 120px;
	--labels: 20px;
	--progress: 30px;

	padding-top: var(--labels);
	padding-bottom: var(--progress);

	background-color: var(--background-2);
	overflow: hidden;
}

.MetronomeContainer > .timeline > .graph::-webkit-scrollbar {
	display: none;
}

.MetronomeContainer > .timeline > .graph > .preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - var(--labels) - var(--progress));
	margin-top: var(--labels);
}

.MetronomeContainer > .timeline > .graph > .inner {
	position: absolute;
	top: 0;
	height: calc(100% - var(--progress));
	left: 50%;
}

.MetronomeContainer > .timeline > .graph > .inner > .labels {
	position: absolute;
	width: 100%;
	top: 6px;
	height: var(--labels);
}

.MetronomeContainer > .timeline > .graph > .inner > .labels > tag {
	position: absolute;
	bottom: 0;
	font-size: 14px; 
	color: rgb(218, 218, 218);
	white-space: nowrap;

	transform: translateX(2px);
	background-color: var(--background-4);
}

.MetronomeContainer > .timeline > .graph > .inner > .labels > tag[data-color="blue"] {
	color: black;
	background-color: var(--osc-color-blue);
}

.MetronomeContainer > .timeline > .graph > .inner > .labels > tag[data-color="yellow"] {
	color: black;
	background-color: var(--osc-color-yellow);
}

.MetronomeContainer > .timeline > .graph > .inner > .labels > tag[data-color="red"] {
	background-color: var(--osc-color-red);
}

.MetronomeContainer > .timeline > .graph > .inner > .labels > tag[data-color="green"] {
	color: black;
	background-color: var(--osc-color-green);
}

.MetronomeContainer > .timeline > .graph > .inner > .labels > tag[data-align="center"] {
	transform: translateX(-50%);
}

.MetronomeContainer > .timeline > .graph > .inner > .labels > tag[data-align="left"] {
	transform: translateX(calc(-100% - 2px));
}

.MetronomeContainer > .timeline > .graph > .inner > .ticks {
	position: absolute;
	width: 100%;
	top: var(--labels);
	height: calc(100% - var(--labels));
}

.MetronomeContainer > .timeline > .graph > .inner > .ticks > div {
	position: absolute;

	top: 50%;
	height: 60%;
	width: 3px;
	transform: translate(-50%, -50%);

	background-color: white;
	border-radius: 8px;
}

.MetronomeContainer > .timeline > .graph > .inner > .ticks > div.downbeat {
	width: 5px;
	height: 80%;
}

.MetronomeContainer > .timeline > .graph > .cursor {
	position: absolute;
	top: 0;
	height: calc(100% - var(--progress));
	left: 50%;
	transform: translateX(-50%);
}

.MetronomeContainer > .timeline > .graph > .spinner {
	position: absolute;
	top: 50%;
	left: 30px;
	transform: translateY(-50%);
}

.MetronomeContainer > .timeline > .graph > .progress {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: var(--progress);
	background-color: var(--background-4);
}

.MetronomeContainer > .timeline > .graph > .progress > canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.MetronomeContainer > .timeline > .graph > .progress > .view {
	position: absolute;
	left: 0;
	width: 100px;
	height: 100%;
	transform: translateX(-50%);
	background-color: white;
	opacity: 0.3;
	pointer-events: none;
}

.MetronomeContainer > .timeline > .graph > .progress > .cursor {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	transform: translateX(-50%);
	pointer-events: none;
}

.MetronomeContainer > .timeline > .buttons {
	position: relative;
	display: flex;
	flex-direction: row;

	width: 240px;
	padding-bottom: 60px;
	box-sizing: border-box;
}

.MetronomeContainer > .timeline > .buttons > .sub {
	position: absolute;
	display: flex;
	flex-direction: row;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
}

.MetronomeContainer > .timeline > .buttons .button {
	flex-grow: 1;
	flex-shrink: 0;
	display: grid;
	place-items: center;

	color: black;
	background-color: white;
	cursor: pointer;

	transition:
		filter 1s cubic-bezier(0.06, 0.81, 0, 0.98),
		transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.MetronomeContainer > .timeline > .buttons .button:hover {
	filter: brightness(1.2);
}

.MetronomeContainer > .timeline > .buttons .button:active {
	transition:
		filter 1s cubic-bezier(0.06, 0.81, 0, 0.98),
		transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
	
	transform: scale(0.9);
}

.MetronomeContainer > .timeline > .buttons .button.play {
	background-color: var(--blue);
}

.MetronomeContainer > .timeline > .buttons .button.stop {
	background-color: var(--yellow);
}

.MetronomeContainer > .timeline > .buttons .button::after {
	content: "\f111";
	position: relative;

	font-family: "Font Awesome Free";
	font-size: 24px;
	font-weight: 600;
}

.MetronomeContainer > .timeline > .buttons .button.play::after {
	content: "\f04b";
}

.MetronomeContainer > .timeline > .buttons .button.play.pause::after {
	content: "\f04c";
}

.MetronomeContainer > .timeline > .buttons .button.stop::after {
	content: "\f04d";
}

.MetronomeContainer > .timeline > .buttons > .sub > .button {
	background-color: var(--background-5);
}

.MetronomeContainer > .timeline > .buttons > .sub > .button::after {
	font-size: 18px;
	color: white;
}

.MetronomeContainer > .timeline > .buttons > .sub > .button.prevTick::after {
	content: "\f104";
}

.MetronomeContainer > .timeline > .buttons > .sub > .button.nextTick::after {
	content: "\f105";
}

.MetronomeContainer > .timeline > .buttons > .sub > .button.end {
	background-color: var(--osc-color-red);
}

.MetronomeContainer > .timeline > .buttons > .sub > .button.end::after {
	content: "\f090";
}

.MetronomeContainer > .view {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	overflow: hidden;
}

.MetronomeContainer > .view > .meters {
	position: relative;
	display: flex;
	flex-direction: row;

	--width: 160px;
	--rate: 0.1s;
	--easing: linear;
	--bottom: 70px;

	width: var(--width);
	padding: 20px 20px 60px 10px;
	background-color: var(--background-4);
}

.MetronomeContainer > .view > .meters.slow {
	--rate: 1s!important;
	--easing: ease;
}

.MetronomeContainer > .view > .meters > .ruler {
	position: relative;
	width: 30px;
	margin: 20px 10px var(--bottom) 0;
	z-index: 1;
}

.MetronomeContainer > .view > .meters > .ruler > div {
	position: absolute;
	right: 0;
	text-align: right;
	transform: translateY(50%);
}

.MetronomeContainer > .view > .meters > .ruler > div::before {
	content: "";
	position: absolute;
	display: block;
	
	top: 50%;
	transform: translateY(-50%);
	height: 2px;
	width: 6px;
	right: -20px;

	background-color: var(--background-6);
}

.MetronomeContainer > .view > .meters > .ruler > div.line {
	width: 80px;
}

.MetronomeContainer > .view > .meters > .ruler > div.step::before {
	width: 12px;
}

.MetronomeContainer > .view > .meters > .ruler > div.line::before {
	width: calc(var(--width) - 52px);
	right: unset;
	left: 86px;

	background-color: rgba(255, 255, 255, 0.3);
}

.MetronomeContainer > .view > .meters > .channel {
	position: relative;
	flex-grow: 1;
	margin: 20px 0 var(--bottom) 10px;
	background-color: var(--background-2);
}

.MetronomeContainer > .view > .meters > .channel > .label {
	position: absolute;

	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
	padding: 1px 6px;

	color: black;
	font-weight: 600;
	background-color: white;
}

.MetronomeContainer > .view > .meters > .channel > .value {
	position: absolute;

	width: 80px;
	bottom: -60px;
	left: 50%;
	font-size: 11px;
	text-align: center;
	transform: translateX(-50%);
}

.MetronomeContainer > .view > .meters > .channel > .bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--blue);
	transition: height var(--rate) var(--easing);
}

.MetronomeContainer > .view > .meters > .channel > .clip {
	position: absolute;
	top: -20px;
	width: 100%;
	height: 14px;

	background-color: rgb(46, 26, 26);
}

.MetronomeContainer > .view > .meters > .channel > .max {
	position: absolute;
	display: block;

	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: red;
	transition: bottom var(--rate) var(--easing);
}

.MetronomeContainer > .view > .meters > .label {
	position: absolute;
	bottom: 14px;
	right: 20px;
	font-size: 18px;
	font-weight: 600;
	text-align: right;
}

.MetronomeContainer > .view > .panels {
	display: block;
	flex-grow: 1;
	padding: 10px;
	overflow: auto;
}

.MetronomeContainer > .view > .panels > div {
	position: relative;

	min-width: calc(100% - 20px);
	width: fit-content;
	margin: 10px;
	padding: 20px;
	padding-top: 40px;
	box-sizing: border-box;
	background-color: var(--background-3);
	border-radius: 16px;
}

.MetronomeContainer > .view > .panels > div:last-child {
	margin-bottom: 300px;
}

.MetronomeContainer > .view > .panels > div > label {
	position: absolute;
	left: 20px;
	top: 20px;
}

.MetronomeContainer > .view > .panels > .monitors > span {
	position: relative;
	display: inline-block;
	margin: 10px 60px 60px 10px;

	--width: 600px;
	--height: 200px;
}

.MetronomeContainer > .view > .panels > .monitors > span > canvas {
	display: block;
	width: var(--width);
	height: var(--height);
}

.MetronomeContainer > .view > .panels > .monitors > span > .ruler {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 40px;
	border-top: 2px solid var(--background-5);
}

.MetronomeContainer > .view > .panels > .monitors > span > .ruler > span {
	position: absolute;
	padding-top: 12px;
	font-size: 14px;
	color: rgb(180, 180, 180);
	transform: translateX(-50%);
}

.MetronomeContainer > .view > .panels > .monitors > span > .ruler > span::before {
	content: "";
	position: absolute;
	display: block;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
	width: 2px;
	height: 6px;
	background-color: var(--background-5);
	opacity: 0.2;
}

.MetronomeContainer > .view > .panels > .monitors > span > .ruler > .label::before {
	top: unset;
	bottom: 26px;
	height: calc(var(--height) + 7px);
	background-color: var(--background-6);
}

.MetronomeContainer > .view > .panels > .monitors > span > .db {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
	transform: translateX(100%);
}

.MetronomeContainer > .view > .panels > .monitors > span > .db > div {
	position: absolute;
	transform: translateY(50%);
	width: 36px;
	font-size: 12px;
	text-align: right;
	color: rgb(180, 180, 180);
}

.MetronomeContainer > .view > .panels > .monitors > span > .db > div::before {
	content: "";
	position: absolute;
	display: block;
	
	top: 50%;
	transform: translateY(-50%);
	height: 2px;
	width: 8px;
	left: 0;

	background-color: var(--background-6);
	opacity: 0.2;
}

.MetronomeContainer > .view > .panels > .monitors > span > .db > div.line::before,
.MetronomeContainer > .view > .panels > .monitors > span > .db > div:last-child:before {
	left: unset;
	right: 22px;
	width: calc(var(--width) + 14px);
}

.MetronomeContainer > .view > .panels > .monitors > span > label {
	position: absolute;
	left: 50%;
	bottom: -60px;
	transform: translateX(-50%);
	text-align: center;
}

.MetronomeContainer > .view > .panels > .timing {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.MetronomeContainer > .view > .panels > .timing > div {
	margin: 10px 30px 10px 0;
}

.MetronomeContainer > .view > .panels > .timing > .top {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.MetronomeContainer > .view > .panels > .timing > .top > .metronome {
	margin-right: 30px;
}

.MetronomeContainer > .view > .panels > .timing > .controls > div {
	margin-bottom: 32px;
}

.MetronomeContainer > .view > .panels > .timing > .inputs > .osc-input {
	margin-bottom: 10px;
}

.MetronomeContainer .osc-input {
    --background: var(--background-4);
    --focus-background: var(--background-5);
    --focus-border: var(--blue);
}

.MetronomeContainer .fineAdjustmentButton {
	margin-bottom: 10px;
}


@keyframes adjustment-value-bounce {
	0% { top: 5px }
	50% { top: 0 }
	100% { top: 5px }
}

@keyframes swing-beat {
	0% { background-color: #b9e8ff; }
	100% { background-color: #47B4EB; }
}


/** ================ COMPONENTS ================= */

.MetronomeContainer .metronome {
	position: relative;
	display: inline-flex;
}

.MetronomeContainer .metronome > .swing {
	position: absolute;
	height: 184px;
	bottom: 40px;
	left: calc(50% - 3px);
	transform-origin: bottom center;

	--duration: 1s;
}

.MetronomeContainer .metronome > .swing > .stick {
	position: relative;
	display: block;

	width: 6px;
	height: 100%;
	border-radius: 8px;
	background-color: #47B4EB;
}

.MetronomeContainer .metronome > .swing.beat > .stick {
	animation-name: swing-beat;
	animation-duration: var(--duration);
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

.MetronomeContainer .metronome > .swing > .weight {
	position: absolute;
	top: 6%;
	left: 50%;
	transform: translateX(-50%);
	transition: top 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.MetronomeContainer .metronome > .pin {
	position: absolute;
	bottom: 34px;
	left: 50%;
	transform: translateX(-50%);

	width: 16px;
	height: 16px;
	border-radius: 24px;
	background-color: var(--blue);
}

.MetronomeContainer .metronome > .lock {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.MetronomeContainer .metronome > .cover {
	position: absolute;
	bottom: 0;
	left: 0;
}

.MetronomeContainer .metronome > .value {
	position: absolute;
	bottom: 8px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.MetronomeContainer .comparator {
	position: relative;
	display: inline-block;
	flex-direction: column;

	border-radius: 16px;
	overflow: hidden;
}

.MetronomeContainer .comparator::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: calc(50% - 1px);
	width: 2px;
	background-color: white;
}

.MetronomeContainer .comparator > .row {
	position: relative;
}

.MetronomeContainer .comparator > .row[data-type="current"] {
	background-color: var(--background-5);
}

.MetronomeContainer .comparator > .row > canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.MetronomeContainer .comparator > .row > span {
	position: absolute;
	left: 12px;
	top: 50%;
	min-width: 32px;
	padding: 0 2px;

	text-align: right;
	color: white;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.6);
	transform: translateY(-50%);
}

.MetronomeContainer .comparator > .row[data-type="oob"] > span {
	color: rgba(182, 182, 182, 0.6);
}

.MetronomeContainer .comparator > .row.downbeat > span {
	color: black;
	background-color: var(--yellow);
}


.fineAdjustmentButton {
	position: relative;
	display: inline-flex;
	flex-direction: row;

	height: 60px;
	border-radius: 8px;
	overflow: hidden;
}

.fineAdjustmentButton > .buttons {
	display: inline-flex;
	height: 100%;
}

.fineAdjustmentButton > .buttons > span {
	width: 26px;
	height: 100%;
	background-color: var(--background-4);
	cursor: pointer;
}

.fineAdjustmentButton > .buttons > span[data-index="1"] {
	background-color: var(--background-5);
}

.fineAdjustmentButton > .buttons > span[data-index="2"] {
	background-color: var(--background-6);
}

.fineAdjustmentButton > .buttons > span[data-index="3"] {
	background-color: var(--background-7);
}

.fineAdjustmentButton > .buttons > span[data-index="4"] {
	background-color: var(--background-8);
}

.fineAdjustmentButton > .buttons > span[data-index="5"] {
	background-color: var(--background-9);
}

.fineAdjustmentButton > .buttons > span[data-index="6"] {
	background-color: var(--background-10);
}

.fineAdjustmentButton > .buttons > span[data-index="7"] {
	background-color: var(--background-11);
}

.fineAdjustmentButton > .buttons > span.hover {
	filter: brightness(1.3) saturate(2);
}

.fineAdjustmentButton > .label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	pointer-events: none;
}

.fineAdjustmentButton > .value {
	position: absolute;
	display: none;

	top: 5px;
	font-size: 12px;
	left: 50%;
	transform: translateX(calc(-50% - 12px));

	font-size: 11px;
	text-align: right;
	pointer-events: none;
}

.fineAdjustmentButton > .value.show {
	display: block;
}

.fineAdjustmentButton > .value.bounce {
	animation-name: adjustment-value-bounce;
	animation-duration: 0.3s;
	animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

.fineAdjustmentButton > .value[data-pos="right"] {
	transform: translateX(calc(-50% + 12px));
	text-align: left;
}