body {
	--primary-font: Albula;
	--heading-font: Albula;
	overflow: hidden;
}

#app {
	position: relative;
	width: 100%;
	height: 100%;
}

.MetronomeControlPanel {
	display: flex;
	flex-direction: row;
}

.MetronomeControlPanel > .audios {
	margin: 10px 0;
}

.MetronomeControlPanel > .audios > .audio {
	padding: 10px;
	cursor: pointer;
}

.MetronomeControlPanel > .audios > .audio.active {
	background-color: rgb(73, 55, 55);
}

.MetronomeControlPanel > .audios > .audio:hover {
	background-color: gray;
}

.MetronomeControlPanel > .audios > .audio > tag {
	margin-left: 16px;
	color: black;
	background-color: var(--osc-color-yellow);
}