body {
	--primary-font: Albula;
	--heading-font: Albula;
	overflow: hidden;
}

#app {
	position: relative;
	width: 100%;
	height: 100%;
}

tag {
	padding: 2px 10px 0;
}

.MetronomeControlPanel {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.MetronomeControlPanel > div {
	margin-right: 30px;
}

.MetronomeControlPanel > .audios > .audio {
	padding: 10px;
	cursor: pointer;
}

.MetronomeControlPanel > .audios > .audio.active {
	background-color: rgb(73, 55, 55);
}

.MetronomeControlPanel > .audios > .audio:hover {
	background-color: gray;
}

.MetronomeControlPanel > .audios > .audio > tag {
	margin-left: 16px;
	color: black;
	background-color: var(--osc-color-yellow);
}

.MetronomeControlPanel > .loadFile {
	display: flex;
	flex-direction: column;
}

.MetronomeControlPanel > .loadFile > label {
	margin-bottom: 10px;
}

.MetronomeControlPanel > .loadFile > input {
	margin-bottom: 20px;
}

.MetronomeControlPanel > .note {
	width: fit-content;
}